name: Mirthsync CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: mirthsync
    - name: Do something
      run: echo 'there'
    - name: Do something else
      run: echo 'hello'
